[build]
  publish = "public"

[[redirects]]
  from = "/admin"
  to = "/admin/application.html"
  status = 200

[[redirects]]
  from = "/admin/*"
  to = "/admin/application.html"
  status = 200

[[redirects]]
  from = "/dashboard"
  to = "/dashboard/index.html"
  status = 200

[[redirects]]
  from = "/dashboard/*"
  to = "/dashboard/index.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
